*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    background-image: linear-gradient(to bottom,hsla(163, 30%, 49%, 0.842), hsl(209, 55%, 48%));
    border-radius: 20px;
    text-align: center;
    padding: 40px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav input{
    border: 0;
    outline: 0;
    background:#ebfffc;
    color: #555;
    padding:10px 25px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

nav button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

nav img{
    width: 25px;
}

weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 40px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}